* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 16px 0;
    background-color: #fff;

}
nav ul {
    display: flex;
}
nav li {
    padding: 10px;
}
nav li a {
    color: #000;
    font-size: 16px;
}
nav li a:hover {
    transition-duration: 0.6s;
    text-decoration: underline;
    color: rgb(3, 75, 3);
}
.primary-button {
    padding: 12px 16px;
    background-color: #469165;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.secondary-button {
    padding: 12px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
}
.primary-button:hover {
    background-color: #007732;
    transition-duration: 0.6s;
}
.secondary-button:hover {
    background-color: #469165;
    transition-duration: 0.6s;
}
#earlyaccess {
    width: 100%;
    max-height: 674px;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 116px 0 180px 0;
}
.access-content {
    max-width: 1360px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.access-content h1 {
    font-size: 74px;
    line-height: 72px;
    color: #30B868;
    margin-bottom: 16px;
}
.access-content span {
    display: block;
    color: #fff;
    line-height: 72px;
}
.access-content p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
    color: #fff;
}
#access-button {
    padding: 8px 12px;
    background-color: #fff;
    color: #469165;
    border-radius: 1000px;
    margin-bottom: 16px;
    border: none;
    cursor: pointer;
}
#access-button:hover {
    transition-duration: 0.6s;
    background-color: #469165;
    color: #fff;
}
.access-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
#notes {

}
#notes h2 {
    font-size: 48px;
    text-align: center;
    color: #001931;
    margin-top: 40px;
}
#notes p {
    text-align: center;
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0 44px 0;
}
.notes-container {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notes-content {
    text-align: center;
    max-width: 322px;
    height: 300px;
    box-shadow: 0 4px 8px #ddd;
    margin: 0 12px;
    padding: 24px;
}
.notes-content img {
    width: 60px;
    height: 60px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 14px;
    margin-bottom: 16px;
    margin-top: 55px;
}
.notes-content h3 {
    font-size: 24px;
    color: #001931;
}
.notes-content p {
    margin: 16px 24px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}